body{
    line-height: 150%;
    }   

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1C2439;
    }
      
li{
    float: left;
    }
      
nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
      
li a:hover{
    background-color: #FA633D;
    }
    
nav a.current{
    text-decoration: underline wavy;
    color: #d1e441;
    text-underline-offset: 6px;
    text-transform: uppercase;
    }

h1{
    font-size: 40px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 20px; 
    }

h2{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    }

main img{
    width: 400px;
    display: block;
    margin: auto;
    border: 8px solid yellow;
    border-radius: 20px;
    padding: 10px;
    }

main img:hover{
        opacity: 0.3;
      }

main div:nth-of-type(odd) img{
    border: dashed 8px #FA633D;
    }

main div:nth-of-type(even) img{
    border: dashed 8px #1C2439;
    }

dt{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    }

p{
    margin-bottom: 10px;
    }

div ul{
    margin-bottom: 30px;
    }

a{
    color: #FA633D;
    }

.wslink {
    color: #FA633D;
    font-weight: bold;
    font-size: 19px;
}

footer p{
    color: aliceblue;
    text-align: center;
    font-size: 16px;
    }

footer{
    padding: 10px;
    background-color: #1C2439;
    }
 




